@import "tailwindcss";
@import "tailwindcss";
@plugin './hero.ts';
/* Note: You may need to change the path to fit your project structure */
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-pokemon-primary: #d5a48b; /* Rojo Pokemon */
  --color-pokemon-secondary: #ffdeac; /* Amarillo Pikachu */
  --color-pokemon-accent: #c5525a; /* Azul agua */
  --color-pokemon-card: rgba(255, 255, 255, 0.95);
  --color-pokemon-input: rgba(255, 255, 255, 0.6);
  --color-pokemon-text: #1a237e; /* Azul oscuro */
  --color-pokemon-pokeball-top: #ef5350; /* Rojo */
  --color-pokemon-pokeball-bottom: #ffffff; /* Blanco */
  --color-pokemon-button-from: #ef5350;
  --color-pokemon-button-to: #e91e63;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
